::root {
  box-sizing: border-box; /*applies border box sizing to 
  the root element*/
}
*,
::before, /*tells other elements and pseudo-elements to inherit their box sizing*/
::after {
  box-sizing: inherit;
}
.third-party-component {
  box-sizing: border-box;
}
body {
  background-color: #eee;
}
header {
  color: #fff;
  background-color: #0072b0;
  border-radius: 0.5em;
}
main {
  display: block;
  /*fixes ie bug*/
}
.wrapper {
  margin-left: -1.5em;
  margin-right: -1.5em; /*adds new wrapper with negative margins*/
}
.container {
  display: table; /*makes the container layout resemble a table*/
  width: 100%; /*makes the table fill it's container width*/
  border-spacing: 1.5em 0; /*applies horizontal border spacing between table cells*/
}
.main {
  display: table-cell; /*makes the column layout mimic table cells*/
  width: 70%;
  background-color: #fff;
  border-radius: 0.5em;
  /*floats the main column left and sets the 
  width to 70%*/
}
.sidebar {
  display: table-cell;
  width: 30%;
  margin-left: 1.5em; /*margin no longer works*/
  padding: 1.5em;
  background-color: #fff;
  border-radius: 0.5em;
  /*adds padding to the sidebar*/
}
